@charset "UTF-8";
body{
    background-color: rgba(12, 27, 62, 0.852);
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1{ 
    color: rgba(255, 255, 255, 0.73);
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}
h2{
    text-decoration: underline;
    padding-top: 14px;
    padding-bottom: 8px;
}
div.citacao{
    font: italic lighter 13px sans-serif;
    padding-bottom: 10px;

}
header{
    -webkit-box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
    background-image: url(ImagensHTML/BiografiaHeader.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    height: 410px;
    width:100%;
    background-position: center center;
}
menu{
    padding-top: 390px;
    text-align: center;
}
li{
    background-color: rgba(0, 0, 0, 0.533);
    text-align: center;
    width: 180px;
    display: inline-block;
    padding: 0px 10px 0px 16px;
}
li > a{
    color: white;
    text-decoration: none;
    font: normal bolder 11px serif; 
}
li > a:hover{
    color:black;
}
li#lium:hover{
 transition-duration: 0.5s;
 background-image: url(ImagensHTML/HorizontalGlauber.jpg);
 background-position: bottom center;
 display: inline-block;
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 40px;
 color:black;
 border-radius: 10px;
}
li#lidois:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/Corisco.jpg);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    color:black;
    border-radius: 10px;
}
li#litres:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/Curiana.jpg);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    color:black;
    border-radius: 10px;
}
li#liquatro:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/AntonioMortes.jpg);
    background-position: bottom center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    color:black;
    border-radius: 10px;
}
main{
-webkit-box-shadow: 0px 20px 54px -16px rgba(0,0,0,0.83);
-moz-box-shadow: 0px 20px 54px -16px rgba(0,0,0,0.83);
box-shadow: 0px 20px 54px -16px rgba(0,0,0,0.83);
    margin:0px 80px 0px 80px;
    text-align: center;
    background-attachment: fixed;
    background-color: rgba(141, 205, 115, 0.677);
    padding-bottom:20px;
}
article{
    margin:0px 35px 0px 35px;
}
div#imagemtexto01{
    margin-top:10px;
    background-image: url(ImagensHTML/GlauberRochaOlho.jpg);
    display: inline-block;
    width:200px;
    height: 200px;
    background-size: cover;
    margin-bottom: 10px;
}
div#imagemtexto01:hover{
    transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
-moz-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
display: inline-block;
color:white;
}
div#imagemtexto02{
    margin-top:10px;
    background-image: url(ImagensHTML/GlauberRochaOrelha.jpg);
    display: inline-block;
    width:200px;
    height: 200px;
    background-size: cover;
    margin-bottom: 10px;
}
div#imagemtexto02:hover{
    transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
-moz-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
display: inline-block;
color:white;
}
div#imagemtexto03{
    margin-top:10px;
    background-image: url(ImagensHTML/GlauberRochaGrito.jpg);
    display: inline-block;
    width:240px;
    height: 180px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}
div#imagemtexto03:hover{
    transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
-moz-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
display: inline-block;
color:white;
}
div#imagemtexto04{
    margin-top:10px;
    background-image: url(ImagensHTML/TerraEmTranseBiografia.jpg);
    display: inline-block;
    width:240px;
    height: 180px;
    background-size: cover;
    background-position: center center;
    margin-bottom: 10px;
}
div#imagemtexto04:hover{
    transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
-moz-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
display: inline-block;
color:white;
}
div#imagemtexto05{
    background-image: url(ImagensHTML/CoriscoBiografia.jpg);
    display: inline-block;
    width:240px;
    height: 180px;
    background-size: cover;
    background-position: center center;
    margin-bottom:5px;
}
div#imagemtexto05:hover{
    transition-duration: 0.5s;
    -webkit-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
-moz-box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
box-shadow: inset 0px -87px 104px -4px rgba(0,0,0,0.83);
display: inline-block;
color:white;
}
p.textodeimagem{
    color: rgba(255, 255, 255, 0);
}
p.textodeimagem:hover{
    transition-duration: 0.4s;
    color: white;
    font-style: italic;
    padding-top:150px;
    font-size: 14px;
}
footer{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: rgba(159, 159, 159, 0.581);
}