body{
    background-color: rgba(12, 27, 62, 0.852);
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1{ 
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 90px;
    font-size: 30px;
}
header{
    -webkit-box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
    background-image: url(ImagensHTML/headerFilmografia.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    height: 260px;
    width:100%;
    background-position: center center;
}
menu{
    padding-top: 75px;
    text-align: center;
}
li{
    background-color: rgba(0, 0, 0, 0.533);
    text-align: center;
    width: 60px;
    display: inline-block;
    padding: 0px 10px 0px 16px;
}
li > a{
    color: white;
    text-decoration: none;
    font: normal bolder 11px serif; 
}
li > a:hover{
    color:black;
}
li#lium:hover{
 transition-duration: 0.5s;
 background-image: url(ImagensHTML/HorizontalGlauber.jpg);
 background-position: bottom center;
 display: inline-block;
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 40px;
 color:black;
 border-radius: 10px;
}
li#lidois:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/Corisco.jpg);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    color:black;
    border-radius: 10px;
}
li#litres:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/Curiana.jpg);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    color:black;
    border-radius: 10px;
}
li#liquatro:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/AntonioMortes.jpg);
    background-position: bottom center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
    color:black;
    border-radius: 10px;
}
main{
    background-attachment: fixed;
    background-color: rgba(141, 205, 115, 0.677);
}
div{
    display: inline-block;
    width:130px;
}
div#terraemtranse{
    text-align: center;
    background-image: url(ImagensHTML/TerraEmTranseFilmografia.jpg);
    height: 400px;
    background-size: cover;
    background-position: center center;
}
div#deusdiaboterrasol{
    background-image: url(ImagensHTML/CoriscoFilmografia.jpg);
    height: 400px;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
div#dragaomaldade{
    height: 400px;
    background-size: cover;
    background-position: right center;
    text-align: center;
}
footer{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: rgba(159, 159, 159, 0.581);
}