@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    background-color: rgba(102, 102, 102, 0.707);
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
h1{ 
    color: white;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 90px;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}
header{
    -webkit-box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
box-shadow: inset 0px -124px 117px 10px rgba(0,0,0,0.75);
    background-image: url(ImagensHTML/headerFilmografia.jpg);
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
    height: 400px;
    width:100%;
    background-position: center center;
}
menu{
    padding-top: 150px;
    text-align: center;
}
li{
    background-color: rgba(0, 0, 0, 0.533);
    text-align: center;
    width: 110px;
    display: inline-block;
    padding: 0px 10px 0px 16px;
}
li > a{
    color: white;
    text-decoration: none;
    font: normal bolder 14px serif; 
}
li > a:hover{
    color:black;
}
li#lium:hover{
 transition-duration: 0.5s;
 background-image: url(ImagensHTML/HorizontalGlauber.jpg);
 background-position: bottom center;
 display: inline-block;
 background-repeat: no-repeat;
 background-size: cover;
 padding-bottom: 20px;
 color:black;
 border-radius: 10px;
}
li#lidois:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/Corisco.jpg);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    color:black;
    border-radius: 10px;
}
li#litres:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/Curiana.jpg);
    background-position: center center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    color:black;
    border-radius: 10px;
}
li#liquatro:hover{
    transition-duration: 0.5s;
    background-image: url(ImagensHTML/AntonioMortes.jpg);
    background-position: bottom center;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
    color:black;
    border-radius: 10px;
}
main{
    background-attachment: fixed;
    background-color: rgba(89, 148, 124, 0.844);
    margin: 20px 30px 0px 30px;
}
h2{
    color: black;
    padding-top: 200px;
    font-family: 'Bebas Neue', sans-serif;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: white;
}
div{
    display: inline-block;
    width:100%;
    -webkit-box-shadow: inset 0px 0px 148px 20px rgba(0,0,0,0.52);
-moz-box-shadow: inset 0px 0px 148px 20px rgba(0,0,0,0.52);
box-shadow: inset 0px 0px 148px 20px rgba(0,0,0,0.52);
}
div#terraemtranse{
    text-align: center;
    background-image: url(ImagensHTML/TerraEmTranseFilmografia.jpg);
    height: 400px;
    background-size: cover;
    background-position: top center;
}
div#terraemtranse:hover{
    transition-duration: 1s;
    background-color: rgb(183, 183, 183);
    color:white;
    background-image: none;
    font-weight: bolder;
}
div#deusdiaboterrasol{
    background-image: url(ImagensHTML/CoriscoFilmografia.jpg);
    height: 400px;
    background-size: cover;
    background-position: center center;
    text-align: center;
}
div#deusdiaboterrasol:hover{
    transition-duration: 1s;
    background-color: red;
    color:white;
    background-image: none;
    font-weight: bolder;
}
div#dragaomaldade{
    background-image: url(ImagensHTML/dragaomaldadeFilmografia.jpg);
    height: 400px;
    background-size: cover;
    background-position: right top;
    text-align: center;
}
div#dragaomaldade:hover{
    transition-duration: 1s;
    background-color:burlywood;
    color:white;
    background-image: none;
    font-weight: bolder;
}
footer{
    background-color: black;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    color: rgba(159, 159, 159, 0.581);
}